header{
	padding: 20px;
	background-color: rgb(63, 98, 238);
	margin-bottom: 20px;
}
main{ max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
padding: 0 20px;}
p {margin: 0;}

.search-form{
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 15;
}

.search-form input{
	width: 300px;
	padding: 5px;
}
.search-form button {
	cursor: pointer;
	color: white;
	width: 120px;
	padding: 5px;
	border-width: 0;
	border-radius: 20;
	background-color: rgb(21, 54, 200);
}
.search-form button:hover,
.search-form button:focus{
	background-color: rgb(7, 37, 171);
}


.gallery{
	display: flex;
	flex-wrap: wrap;
	gap: 20;
}
.photo-card{
	display: flex;
	flex-wrap: wrap;
	/* justify-content: space-between; */
	width: 370px;
	box-shadow: 0px 0px 5px #212121;
	
}
.photo-card a{
	display: block;
	height: auto;
}
.photo-card img{
	margin: 0;
	padding: 0;
	display: block;
	width: 100%;
	height: auto;
}

.load-more{
	margin: 10px auto;
	margin-left: 45%;
	width: 100px;
	padding: 5px;
	border-width: 0;
	border-radius: 20;
	background-color: rgba(6, 36, 169, 0.727);
	color: white;
	cursor: pointer;
	
}
.load-more:hover,
.load-more:focus {
  background: #2028bf;
}
.is-hidden.load-more{
	display: none;
}
.info{
	display: flex;
	flex-wrap: nowrap;
		flex-grow: 1;
}
.info-item {
	padding: 10px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 10;
	
}